@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte3);
    min-height: 100vh;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
}

header > p {
    font-family: var(--fonte1);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    font-size: 4vw;
    padding: 110px 30px;
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
}

.imagem {
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
}

.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

#flor {
    background-image: url(imagens/background001.jpg);
}

#livro {
    background-image: url(imagens/background002.jpg);
}

footer {
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}